<footer>
    <div class="container">
        <div class="row-change">

            <div class="cot-3-lg cot-12 cot-6-md">
                <a href="#" class="ft-logo mb-3">
                    <img src="../public/app/images/logo.png" alt="">
                </a>
                <ul class="mb-3">
                    <span>Là dự án phối hợp giữa 3 đơn vị:</span>
                    <li>Trung tâm Bảo tồn Đa dạng sinh học Nước Việt Xanh</li>
                    <li>Nhóm nghiên cứu và giảng dạy tài nguyên sinh vật, ĐH Đà Nẵng</li>
                    <li>Khoa sinh - Môi Trường ĐH sư phạm, ĐH Đà Nẵng</li>
                </ul>
                <%if(dataContact){
                    address = dataContact.address;
                    phone = dataContact.phone1;
                    email = dataContact.email;
                %>
                <a href="#">
                    <span class="ft-add"><%= address%></span>
                </a>
                <a href="mailto:<%= email%>">
                    <span class="ft-mail"><%= email%></span>
                </a>
                <a href="tel:<%= phone%>">
                    <span class="ft-phone"><%= phone%></span>
                </a>
                <% } %>
                <div class="ft-social mt-3 d-flex">
                    <a href="">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-youtube"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-facebook"></i>
                    </a>
                </div>
            </div>

            <div class="cot-3-lg cot-12 cot-6-md ft-info">
                <h3 class="underline position-relative mb-3">Về Trang thông tin</h3>
                <ul>
                    <li><a href="/gioi-thieu">Thư ngỏ</a></li>
                    <li><a href="/gioi-thieu#about-project">Dự án Trang thông tin Thiên nhiên Đà Nẵng</a></li>
                    <li><a href="/gioi-thieu#result">Kết quả đạt được</a></li>
                    <li><a href="/gioi-thieu#about-us">Về chúng tôi</a></li>
                    <li><a href="/gioi-thieu#partner">Đối tác và nhà tài trợ</a></li>
                </ul>
            </div>
            <div class="cot-3-lg cot-12 cot-6-md ft-info">
                <h3 class="underline position-relative mb-3">Tư liệu</h3>
                <ul>
                    <%if(dataOther6 && dataOther6.categories.length > 0){
                        dataOther6.categories.forEach( item => {%>
                            <li><a href="<%= item.name.replace(/ /g , '-')%>-<%= item.pageId %>.<%= item._id %>.cate"><%= item.name%></a></li>
                       <% } )
                    }%>
                </ul>
            </div>
            <div class="cot-3-lg cot-12 cot-6-md ft-info">
                <h3 class="underline position-relative mb-3">Đồng hành</h3>
                <ul>
                    <li><a href="/dong-hanh#contribution">Đóng góp tài liệu</a></li>
                    <li><a href="/dong-hanh#become-volunteer">Trở thành TNV</a></li>
                    <li><a href="/dong-hanh#donation">Quyên góp</a></li>
                    <li><a href="/lien-he">Liên hệ</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="footer-bottom py-3 d-flex align-items-center justify-content-center">
    <a href="#">
        <span>2022 All Rights Reserved - thiennhiendanang.vn</span>
    </a>
</div>