
<%if(dataOther1 && dataOther1.products.length > 0){
    const categoryFind = dataOther1.categories.find( category => category._id === '1WdZswujA');
    if(categoryFind){
        categoryFind.products.forEach( prod => {
            if(prod.showTop === true){
                name = prod.name;
                timeStart = prod.additional.timeStart;
                timeEnd = prod.additional.timeEnd;
                dateStart = prod.additional.dateStart;
                dateEnd = prod.additional.dateEnd;
                address = prod.additional.address;
           %>
<div class="home-sukien position-relative"
        style="background-image: url(../public/app/images/1695181091_DSC_0462.jfif);">
        <div class="container d-flex flex-column h-100 justify-content-center align-items-center position-relative">
            <h3 class="h3-title"><%= name%></h3>
            <div class="home-sukien-time d-flex">
                <span><i class="me-2 bi bi-calendar3"></i><%= dateStart%> <%if(dateEnd !== '' ){%> - <%= dateEnd%><%}%></span>
                <span><i class="me-2 bi bi-clock"></i><%= timeStart%> <%if(timeEnd !== ''){%> - <%=timeEnd%><%}%></span>
                <span><i class="me-2 bi bi-geo-alt"></i><%= address%></span>
                <span class="sukien-label">Sự kiện sắp tới</span>
            </div>
            <span>Chung tay làm sạch bán đảo Sơn Trà!!</span>
            <a href="<%= name.replace(/ /g , '-')%>-<%= prod.pageId %>.<%= prod._id %>.html" class="color-2">
                <span class="mb-3">Chi tiết></span>
            </a>
        </div>
    </div>
    <% }
})
}
}%>