<div id="cover" class="slider-cover">
    <div class="owl-slider-cover owl-carousel owl-theme">

        <%if(dataProducts && dataProducts.length > 0){
            dataProducts.forEach( prod => {
                if(prod.categoryIds[0] === 'EZ6Jnagj9'){
                    name = prod.name;
                    url = prod.url;
                    let alt = '';
                    let pathImage = '';
                    let imageResize = '';
                    const obImage = prod.images[0];
                    if(obImage){
                        pathImage = obImage.image;
                        alt = obImage.alt;
                    }
                    imageResize = pathImage.replace('images/', 'thumbnail/1920/').replace(/\.(png|jpg|jpeg|JPG)$/i, '.webp');
                %>
                <div class="item">
                    <div class="slider-cover-box">
                        <img src="../<%= imageResize%>" onerror="javascript:this.src='../<%= pathImage%>'" alt="<%= alt%>">
                        <div class="cover-title">
                            <a href="<%= url%>">
                                <h3 class="mb-3"><%= name%></h3>
                            </a>
                            <a href="<%= url%>">
                                <span class="mb-3">Chi tiết >>></span>
                            </a>
                        </div>
                    </div>
                </div>
            <%}
        })
        }%>

    </div>
</div>