<div class="sukien">
    <div class="container">
        <h3 class="mb-5">Sự kiện</h3>
        <div class="owl-sukien owl-carousel owl-theme">

            <% if(dataProducts){
                dataProducts.forEach((prod) => {
                    if(prod.categoryIds[0] === '1WdZswujA'){
                    name = prod.name;
                    desShort = prod.desShort;
                    additional = prod.additional
                    let alt = '';
                    let pathImage = '';
                    let obImage = prod.images.find( item => item.showTopImage == true);
                    if(obImage){
                        pathImage = obImage.image;
                        alt = obImage.alt;
                    }else{
                        pathImage = prod.images[0].image
                    }
                    imageResize = pathImage.replace('images/', 'thumbnail/480/').replace(/\.(png|jpg|jpeg|JPG)$/i, '.webp');
              %>
            <div class="item">
                <div class="sukien-box row-change">
                    <div class="cot-12 cot-5-lg">
                        <div class="sukien-box-img">
                            <img  src="../<%= imageResize%>" onerror="javascript:this.src='../<%= pathImage%>'" alt="<%= alt%>">
                        </div>
                    </div>
                    <div class="cot-12 cot-7-lg sukien-detail">
                        <span class="sukien-label">Sự kiện sắp tới</span>
                        <h4 class="mb-3"><%= name%></h4>
                        <div class="sukien-time mb-3">
                            <span class="sukien-ngay">
                                <%if(additional.typeEvent === 'one'){%>
                                    <%= additional.dateStart%>
                                <%}else{%>
                                    <%= additional.dateStart%> - <%= additional.dateEnd%>
                                <%}%>
                            </span>

                            <span class="sukien-gio">
                                <%if(additional.typeEvent === 'one'){%>
                                    <%= additional.timeStart%>
                                <%}else{%>
                                    <%= additional.timeStart%> - <%= additional.timeEnd%>
                                <%}%>
                            </span>
                            <span class="sukien-diadiem"><%= additional.address%></span>
                        </div>
                        <div class="sukien-text">
                            <p class="br-line-3"><%= desShort%></p>
                        </div>
                        <a class="main-btn" href="<%= name.replace(/ /g , '-')%>-<%= prod.pageId %>.<%= prod._id %>.html">Chi tiết >>></a>
                        <img src="../public/app/images/vooc.png" alt="">
                    </div>
                </div>
            </div>
            <%   }})
            }%>

        </div>
    </div>
</div>