<html lang="en">

<head>
    <%- include('./components/head') -%>
</head>

<body>
    <%- include('./components/header') -%>
    <%- include('./components/bottomNav') -%>

    <%- include('./components/homeInfor') -%>
    <%- include('./components/homeAbout') -%>
    <%- include('./components/homeDoitac') -%>
    <%- include('./components/donggop') -%>

    <%- include('./components/footer') -%>
    <%- include('./components/end') -%>

</body>

</html>

