<html lang="en">

<head>
    <%- include('./components/head') -%>
</head>

<body>
    <%- include('./components/header') -%>
    <%- include('./components/bottomNav') -%>
    <%- include('./components/homeBook') -%>

    <%- include('./components/footer') -%>
    <%- include('./components/end') -%>

</body>

</html>