<html lang="en">

<head>
   <%- include('./components/head') -%>
</head>

<body>
    <%- include('./components/header') -%>
    <%- include('./components/bottomNav') -%>

    <div class="donggop-page">
        <div class="container position-relatives py-30 py-lg-60">
            <div class="donggop-cover"
                style="background-image: url(https://vietnamtimes.org.vn/stores/news_dataimages/minhchauvnt/052021/07/15/3652_red-shanked-douc-tim-plowden.png);">
                <!-- <img src="public/app/images/khi-3.png" alt=""> -->
            </div>
        </div>
        <div class="container">
            <h3 class="h3-title mb-4">Cùng chúng tôi chia sẻ tri thức, kết nối và lan tỏa tình yêu thiên nhiên Đà Nẵng
            </h3>
            <div class="text-color-2 mb-5">
                <p>Để đóng góp nguồn tư liệu hình ảnh cho website, chúng tôi mong nhận được sự đóng góp của các nhiếp
                    ảnh gia, cộng đồng và những người yêu thiên nhiên Đà Nẵng qua cuộc thi ảnh trực tuyến (online) với
                    chủ đề “Chung tay lan tỏa tri thức thiên nhiên Đà Nẵng”.
                    Cuộc thi khuyến khích người tham gia tiếp cận các loài sinh vật đang sinh sống tại thành phố Đà Nẵng
                    và các yếu tố tự nhiên theo nhiều khía cạnh, chân thực, có giá trị khoa học, giáo dục và thẩm mĩ
                    cao. Những bức ảnh, bộ ảnh tham gia cuộc thi sẽ trở thành nguồn tư liệu quý giá, chất lượng cao cho
                    hoạt động dạy và học của 20.000 giáo viên (cấp 1, 2, 3), hơn 100.000 học sinh, sinh viên, cộng đồng
                    quan tâm và mong muốn tìm hiểu thiên nhiên Đà Nẵng. Đồng thời, thông qua các giải thưởng của cuộc
                    thi, chúng tôi tôn vinh và ghi nhận công sức, tinh thần sẵn sàng chia sẻ của người tham gia, các
                    nhiếp ảnh gia tâm huyết vì mục tiêu lan tỏa tri thức, vẻ đẹp và tình yêu thiên nhiên đến cả cộng
                    đồng.
                </p>
            </div>
            <div class="donggop-progress position-relative mb-4">
                <span class="position-absolute" style="left: 15.9%;">15.9%</span>
                <div class="progress " role="progressbar" aria-label="Example with label" aria-valuenow="15.9"
                    aria-valuemin="0" aria-valuemax="15.9">
                    <div class="progress-bar" style="width: 15.9%"></div>
                </div>
            </div>
            <div class="donggop-progress-value d-flex mb-5">
                <div class="donggop-money">
                    <span>VND 25,000,000</span>
                    <span>Target amount</span>
                </div>
                <div class="donggop-money">
                    <span>VND 7,550,000</span>
                    <span>Rasied so far</span>
                </div>
            </div>
            <form class="row-change pb-30 pb-md-60 pb-lg-90" action="" method="">
                <div class="donggop-amount row-change mb-4">
                    <h4 class="h4-title w-100">Số tiền quyên góp:</h4>
                    <div class="donggop-input cot-6-md cot-4-lg">
                        <input class="form-control" type="number">
                    </div>
                    <ul class="cot-8-lg">
                        <li>
                            <input class="form-check-input" type="radio" name="donggop-money" id="donggop-100">
                            <label class="form-check-label" for="donggop-100">100.000 VND</label>
                        </li>
                        <li>
                            <input class="form-check-input" type="radio" name="donggop-money" id="donggop-200">
                            <label class="form-check-label" for="donggop-200">200.000 VND</label>
                        </li>
                        <li>
                            <input class="form-check-input" type="radio" name="donggop-money" id="donggop-500">
                            <label class="form-check-label" for="donggop-500">500.000 VND</label>
                        </li>
                        <li>
                            <input class="form-check-input" type="radio" name="donggop-money" id="donggop-custom">
                            <label class="form-check-label" for="donggop-custom">Số khác</label>
                        </li>
                    </ul>
                </div>
                
                <div class="donggop-phuongthuc row-change">
                    <h4 class="h4-title w-100">Phương thức quyên góp:</h4>
                    <ul class="cot-6-md">
                        <li>
                            <input class="form-check-input" type="radio" name="donggop-money" id="donggop-paypal">
                            <label class="form-check-label" for="donggop-paypal">Paypal</label>
                        </li>
                        <li>
                            <input class="form-check-input" type="radio" name="donggop-money" id="donggop-visa" checked>
                            <label class="form-check-label" for="donggop-visa">Visa / MasterCard</label>
                        </li>
                        <li>
                            <input class="form-check-input" type="radio" name="donggop-money" id="donggop-bank">
                            <label class="form-check-label" for="donggop-bank">Bank</label>
                        </li>
                        <li>
                            <input class="form-check-input" type="radio" name="donggop-money" id="donggop-qr">
                            <label class="form-check-label" for="donggop-qr">QR Code</label>
                        </li>
                    </ul>
                    <!-- <div id="qrcode" class="cot-6-md">
                        Test
                    </div> -->
                </div>

                <div class="donggop-thongtin row-change">
                    <h4 class="h4-title w-100">Thông tin liên hệ:</h4>
                    <input class="form-control cot-4-md" type="text" placeholder="Tên">
                    <input class="form-control cot-4-md" type="text" placeholder="Họ">
                    <input class="form-control cot-4-md" type="email" placeholder="Mail">
                </div>
                <a class="main-btn mt-4 mx-auto" href="#">
                    Quyên góp
                </a>
            </form>
        </div>

        <div class="donggop-huongdan py-30 py-md-60 py-lg-90 bg-grey">
            <div class="container">
                <h3 class="h3-title underline mb-4">Hướng dẫn quyên góp</h3>
                <p class="text-color-2">Để đóng góp nguồn tư liệu hình ảnh cho website, chúng tôi mong nhận được sự đóng góp của các nhiếp ảnh gia, cộng đồng và những người yêu thiên nhiên Đà Nẵng qua cuộc thi ảnh trực tuyến (online) với chủ đề “Chung tay lan tỏa tri thức thiên nhiên Đà Nẵng”. 
                    Cuộc thi khuyến khích người tham gia tiếp cận các loài sinh vật đang sinh sống tại thành phố Đà Nẵng và các yếu tố tự nhiên theo nhiều khía cạnh, chân thực, có giá trị khoa học, giáo dục và thẩm mĩ cao. Những bức ảnh, bộ ảnh tham gia cuộc thi sẽ trở thành nguồn tư liệu quý giá, chất lượng cao cho hoạt động dạy và học của 20.000 giáo viên (cấp 1, 2, 3), hơn 100.000 học sinh, sinh viên, cộng đồng quan tâm và mong muốn tìm hiểu thiên nhiên Đà Nẵng. Đồng thời, thông qua các giải thưởng của cuộc thi, chúng tôi tôn vinh và ghi nhận công sức, tinh thần sẵn sàng chia sẻ của người tham gia, các nhiếp ảnh gia tâm huyết vì mục tiêu lan tỏa tri thức, vẻ đẹp và tình yêu thiên nhiên đến cả cộng đồng.
                    </p>
            </div>
        </div>
    </div>
    <%- include('./components/footer') -%>
    <%- include('./components/end') -%>

</body>

</html>