<html lang="en">

<head>
    <%- include('./components/head') -%>
</head>

<body>
    <%- include('./components/header') -%>
    <%- include('./components/bottomNav') -%>

    <div class="main-body">
        <div class="container">
            <div class="row-change">
                <div class="cot-12 cot-3-lg pe-0 pe-lg-4">
                    <%- include('./components/sideCate') -%>
                    <%- include('./components/sideBooks') -%>
                    <%- include('./components/sideAuthors') -%>
                    <%- include('./components/sideTags') -%>
                </div>
                <div class="cot-12 cot-9-lg hinhanh-all">
                    <h3 class="h3-title mb-5 underline">Thư viện hình ảnh</h3>
                    <div class="row-change-grid mb-5">
                        <%if(dataProducts && dataProducts.length > 0){
                            data = dataProducts;
                        }
                        if(dataCategoryDetail){
                            data = dataCategoryDetail.products;
                        }
                        if(data){
                            data.forEach((prod) => {
                                name = prod.name;
                                let alt = '';
                                let pathImage = '';
                                let obImage = prod.images.find( item => item.showTopImage == true);
                                if(obImage){
                                    pathImage = obImage.image;
                                    alt = obImage.alt;
                                }else{
                                    pathImage = prod.images[0].image
                                }
                                imageResize = pathImage.replace('images/', 'thumbnail/480/').replace(/\.(png|jpg|jpeg|JPG)$/i, '.webp');
                                numberImage = prod.images.length
                         %>
                        <div class="cot-3 hinhanh-all-box">
                            <div class="hinhanh-box-img">
                                <a href="<%= name.replace(/ /g , '-')%>-<%= prod.pageId %>.<%= prod._id %>.html">
                                    <img src="../<%= imageResize%>" onerror="javascript:this.src='../<%= pathImage%>'" alt="<%= alt%>">
                                </a>
                                <span><%= numberImage%> hình ảnh</span>
                            </div>
                            <a href="<%= name.replace(/ /g , '-')%>-<%= prod.pageId %>.<%= prod._id %>.html">
                                <h4 class="mt-3 br-line-1"><%= name%></h4>
                            </a>
                        </div>
                        <%    })
                        }%>
                    </div>
                    <%if(infoPaginateProduct !== undefined && infoPaginateProduct !== null && infoPaginateCategory === null){%>
                        <%- include('./components/pagination', { urlCurrent : urlCurrentName, pages : infoPaginateProduct.pages , current : infoPaginateProduct.current}) -%>
                    <%}else if(infoPaginateCategory !== undefined && infoPaginateCategory !== null){%>
                        <%- include('./components/pagination', { urlCurrent : urlCurrentName, pages : infoPaginateCategory.pages , current : infoPaginateCategory.current}) -%>
                    <%}%>

                </div>
            </div>
        </div>
    </div>

   

    <%- include('./components/footer') -%>
    <%- include('./components/end') -%>

</body>

</html>