<html lang="en">

<head>
    <%- include('./components/head') -%>
</head>

<body>
    <%- include('./components/header') -%>
    <%- include('./components/bottomNav') -%>

    <div class="main-body">
        <div class="container">
            <div class="row-change">
                <div class="cot-12 cot-3-lg pe-0 pe-lg-4">
                    <%- include('./components/sideCate') -%>
                    <%- include('./components/sideBooks') -%>
                    <%- include('./components/sideAuthors') -%>
                    <%- include('./components/sideTags') -%>
                </div>
                <div class="cot-12 cot-9-lg hinhanh-detail">
                    <% if(dataProductDetail){
                        prod = dataProductDetail;
                    %>
                    <h3 class="h3-title mb-5 underline"><%= prod.name%></h3>

                    <div class="hinhanh-gallery-detail gallery-container d-flex align-items-center justify-content-center mb-5"
                        id="gallery-container">
                        
                        <%if(prod.images.length > 0 ){
                            prod.images.forEach((imageItem) => {
                                pathImage = imageItem.image.replace(/\\/g, '/')
                           %>
                        <a class="gallery-item"
                            data-src="<%= pathImage%>"
                            data-sub-html="#<%= imageItem._id%>">
                            <img class="img-fluid"
                                src="<%= pathImage%>" />
                        </a>
                     <% })}%>
                    </div>


                    <%if(prod.images.length > 0 ){
                        prod.images.forEach((imageItem, index) => {
                       %>
                    <div id="<%= imageItem._id%>" style="display:none">
                        <h4 class="br-line-1"><%= prod.name%></h4>
                        <%if(imageItem.author && imageItem.author !== ''){%>
                            <span>
                                Tác giả: <strong><%= imageItem.author%></strong>
                            </span>
                        <%}%>

                        <%if(imageItem.year && imageItem.year !== ''){%>
                            <span>
                                Thời gian: <strong><%= imageItem.year%></strong>
                            </span>
                        <%}%>

                        <%if(imageItem.address && imageItem.address !== ''){%>
                            <span>
                                Địa điểm: <strong><%= imageItem.address%></strong>
                            </span>
                        <%}%>
                    </div>
                    <% })
                    }%>
                  
                    <div class="tailieu-detail-icon justify-content-center">
                        <span>
                            <i class="me-2 bi bi-suit-heart<%if(dataBasicInfo && prod.likes.includes(dataBasicInfo._id)){%>-fill<%}%>" data-action="like" data-post-id="<%= prod._id%>"></i>
                            <span id="likeCustomer"><%= prod.likes.length%></span>
                        </span>
                        <span><i class="me-2 bi bi-download"></i><span id="number-download"><%= prod.downloads%></span></span>
                        <span><i class="me-2 bi bi-reply"></i>0</span>
                        <span><i class="me-2 bi bi-eye"></i><%= prod.views%></span>
                        <span><i class="me-2 bi bi-chat-left"></i><%= prod.comments.length%></span>
                    </div>

                    <div class="hinhanh-mieuta mb-3">
                        <h3 class="h3-title underline position-relative mb-4">Miêu tả</h3>
                        <%- prod.description%>
                    </div>
                    <div class="nav-tag mb-5">
                    <ul>
                        <span>Từ khoá:</span>
                        <% 
                        if(prod.hashtags && prod.hashtags.length > 0){
                            const hashtagProducts = dataAttibutes.find(attribute => attribute.tag === 'Hashtag');
                            prod.hashtags.forEach( item => {
                                let mapping = hashtagProducts.values.find( hashtag_item => hashtag_item.code === item);
                                if(mapping){
                                    value_display = mapping.value;
                                    %>
                                    <li>
                                        <a href="/hinh-anh?hashtag=<%= item%>"><%= value_display%></a>
                                    </li>
                       <%}})}%>
                    </ul>
                </div>
                    <%}%>

                    <%- include('./components/comment') -%>
                    <div class="hinhanh-quantam">
                        <h3 class="h3-title underline position-relative mb-5">Có thể bạn quan tâm</h3>
                        <div class="owl-quantam owl-carousel owl-theme mb-5">
                        <%if(dataProducts && dataProducts.length > 0){
                            dataProducts.forEach( prodRelated => {
                                if(prodRelated._id !== prod._id){
                                    pathImage = '';
                                    obImage = prodRelated.images[0];
                                    if(obImage){
                                       pathImage = obImage.image
                                    }
                                    %>
                                    <div class="item">
                                        <div class="img-box trans-3 mb-3">
                                            <a href="<%= prodRelated.name.replace(/ /g , '-')%>-<%= prodRelated.pageId %>.<%= prodRelated._id %>.html"><img src="../<%= pathImage%>"
                                                    alt="<%= prodRelated.images[0].alt%>"></a>
                                        </div>
                                        <a href="<%= prodRelated.name.replace(/ /g , '-')%>-<%= prodRelated.pageId %>.<%= prodRelated._id %>.html">
                                            <h4 class="br-line-2"><%= prodRelated.name%> </h4>
                                        </a>
                                    </div>
                                <%} 
                            })
                        }%>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <%- include('./components/loginModal') -%>
    <%- include('./components/footer') -%>
    <%- include('./components/end') -%>

</body>

</html>