<!DOCTYPE html>
<html lang="en">

<head>
<%- include('./components/head') -%>
</head>

<body>
    <%- include('./components/header') -%>
    <%- include('./components/homeCover') -%>
    <%- include('./components/homeInfor') -%>
    <%- include('./components/homeTintuc') -%>
    <%- include('./components/homeSukien') -%>
    <%- include('./components/homeKetnoi') -%>
    <div class="home-hinhanh-video">
        <%- include('./components/homeHinhanh') -%>
        <%- include('./components/homeVideo') -%>
    </div>
    <%- include('./components/homeTulieu') -%>
   <%- include('./components/featured') -%>
    <%- include('./components/homeBook') -%>
    <%- include('./components/homeAbout') -%>
    <%- include('./components/homeLuuluong') -%>
    <%- include('./components/homeDoitac') -%>
    <%- include('./components/footer') -%>
    <%- include('./components/end') -%>
</body>

</html>