<html lang="en">

<head>
    <%- include('./components/head') -%>
</head>

<body>
    <%- include('./components/header') -%>
    <%- include('./components/bottomNav') -%>

    <div class="main-body">
        <div class="container">
            <div class="row-change">
                <div class="cot-12 cot-3-lg pe-0 pe-lg-4">
                    <%- include('./components/sideCate') -%>
                    <%- include('./components/sideNewsImage') -%>
                    <%- include('./components/sideBooks') -%>
                    <%- include('./components/sideAuthors') -%>
                    <%- include('./components/sideTags') -%>
                </div>
                <div class="cot-12 cot-9-lg tintuc-all tintuc-detail-box">
                    
                    <!-- --------------------------------------------------------------------------------------------------------------------------- -->
                    <% prod = dataProductDetail;
                        description = prod.description
                    %>
                    <h3 class="h3-title underline"><%= prod.name%></h3>
                    <div class="tintuc-detail-admin d-flex mt-4">
                        <div class="tintuc-admin-img">
                            <img src="https://images.pexels.com/photos/5199158/pexels-photo-5199158.jpeg?auto=compress&cs=tinysrgb&w=300" alt="">
                        </div>
                        <div class="tintuc-admin-info d-flex flex-column">
                            <h4>Huỳnh Thư</h4>
                            <span>17/08/2022</span>
                        </div>
                    </div>
                    <!-- --------------------------------------------------------------------------------------------------------------------------- -->
                    
                    <div class="tintuc-detail-content">

                        <%- description%>

                    </div>

                    <div class="tintuc-detail-bottom">
                        <div class="tintuc-detail-tag">
                            <span>Từ khoá:</span>
                            <ul>
                                <% 
                                if(prod.hashtags && prod.hashtags.length > 0){
                                    const hashtagProducts = dataAttibutes.find(attribute => attribute.tag === 'Hashtag');
                                    prod.hashtags.forEach( item => {
                                        let mapping = hashtagProducts.values.find( hashtag_item => hashtag_item.code === item);
                                        if(mapping){
                                            value_display = mapping.value;
                                            %>
                                            <li>
                                                <a href="/ket-noi?hashtag=<%= item%>"><%= value_display%></a>
                                            </li>
                            <%}})}%>
                            </ul>
                        </div>
                        <div class="tintuc-detail-social">
                            <i class="bi bi-suit-heart<%if(dataBasicInfo && prod.likes.includes(dataBasicInfo._id)){%>-fill<%}%>" data-action="like" data-post-id="<%= prod._id%>"></i>
                            <a href="#">
                                <i class="bi bi-bookmark"></i>
                            </a>
                            <span class="list_method_shared">
                                <i class="me-2 bi bi-reply"></i>
                                <span class="share_method">
                                    <div class="parent">
                                        <a href="" target="_blank" id="shareFacebook" class="item" title="chia sẽ với facebook">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                        <a href="" id="copyLinkPost" class="item" title="copy đường dẫn">
                                            <i class="bi bi-link-45deg"></i>
                                        </a>
                                    </div>
                                </span>
                            </span>
                        </div>
                    </div>

                    <%- include('./components/comment') -%>
                </div>
            </div>
        </div>
    </div>

    <%- include('./components/sukien') -%>

    <%- include('./components/footer') -%>
    <%- include('./components/end') -%>

</body>

</html>