<html lang="en">

<head>
    <%- include('./components/head') -%>
</head>

<body>
    <%- include('./components/header') -%>
    <%- include('./components/bottomNav') -%>

    <div class="main-body">
        <div class="container">
            <div class="row-change">
                <div class="cot-12 cot-3-lg pe-0 pe-lg-4">
                    <%- include('./components/sideNewsImage') -%>
                    <%- include('./components/sideBooks') -%>
                    <%- include('./components/sideAuthors') -%>
                    <%- include('./components/sideTags') -%>
                </div>
                <div class="cot-12 cot-9-lg tintuc-all">
                    <h3 class="mb-5 underline">Kết nối đó đây(<%= dataProducts.length%>)</h3>

                    <%if(dataProducts){
                        dataProducts.forEach( prod => {
                            name = prod.name;
                            desShort = prod.desShort;
                            let alt = '';
                            let pathImage = '';
                            let obImage = prod.images.find( item => item.showTopImage == true);
                            if(obImage){
                                pathImage = obImage.image;
                                alt = obImage.alt;
                            }else{
                                pathImage = prod.images[0].image
                            }
                            imageResize = pathImage.replace('images/', 'thumbnail/480/').replace(/\.(png|jpg|jpeg|JPG)$/i, '.webp');
                    %>
                    <div class="ketnoi-box row-change">
                        <div class="cot-12 cot-6-md ketnoi-box-left">
                            <div class="ketnoi-box-img">
                                <img src="../<%= imageResize%>" onerror="javascript:this.src='../<%= pathImage%>'" alt="<%= alt%>">
                            </div>
                        </div>
                        <div class="cot-12 cot-6-md ketnoi-box-detail">
                            <a href="<%= name.replace(/ /g , '-')%>-<%= prod.pageId %>.<%= prod._id %>.html" >
                                <h4 class="h4-title br-line-2"><%= name%></h4>
                            </a>
                            <div class="ketnoi-box-date">
                                <span>Đăng bởi Admin</span>
                                <span>10/06/2022</span>
                            </div>
                            <p class="br-line-4">
                                <%= desShort%>
                            </p>
                            <a class="main-btn mt-auto" href="<%= name.replace(/ /g , '-')%>-<%= prod.pageId %>.<%= prod._id %>.html">
                                <%= '<< Chi tiết >>' %>
                            </a>
                        </div>
                    </div>
                    <%  })
                    }%>
                   
                    <%if(infoPaginateProduct !== undefined && infoPaginateProduct !== null && infoPaginateCategory === null){%>
                        <%- include('./components/pagination', { urlCurrent : urlCurrentName, pages : infoPaginateProduct.pages , current : infoPaginateProduct.current}) -%>
                    <%}else if(infoPaginateCategory !== undefined && infoPaginateCategory !== null){%>
                        <%- include('./components/pagination', { urlCurrent : urlCurrentName, pages : infoPaginateCategory.pages , current : infoPaginateCategory.current}) -%>
                    <%}%>

                </div>
            </div>
        </div>
    </div>
    <%- include('./components/footer') -%>
    <%- include('./components/end') -%>
</body>

</html>