<html lang="en">

<head>
    <%- include('./components/head') -%>
</head>

<body>
    <%- include('./components/header') -%>
    <%- include('./components/bottomNav') -%>

    <div class="main-body">
        <div class="container">
            <div class="row-change">
                <div class="cot-12 cot-3-lg pe-0 pe-lg-4">
                    <%- include('./components/sideCate') -%>
                    <%- include('./components/sideBooks') -%>
                    <%- include('./components/sideAuthors') -%>
                    <%- include('./components/sideTags') -%>
                </div>
                <div class="cot-12 cot-9-lg tailieu-tongquan">
                    <div class="home-tulieu">
                        <div class="container">
                            <h3 class="h3-title position-relative underline mb-5">
                                Danh sách tài liệu:
                            </h3>
                            <div class="row-change mb-5">
                                <% if(dataProducts){
                                    dataProducts.forEach( (item, index) => {
                                        if(item.hashtags[0] !== 'san_pham_dai_dien'){
                                        name = item.name;
                                        pdfPath = item.pdf;
                                   %>
                                <div class="cot-12 cot-6-lg d-flex gap-3 gap-md-3">
                                    <div class="home-tulieu-img">
                                        <img class="mb-2" src="../public/app/images/icon/pdf-file.svg" alt="">
                                        <a href="javascript.void(0);" data-action="download" data-post-id="<%= item._id%>" data-path="<%= pdfPath%>">Tải xuống</a>
                                    </div>
                                    <div class="home-tulieu-text">
                                        <a href="<%= name.replace(/ /g , '-')%>-<%= item.pageId %>.<%= item._id %>.html">
                                            <h5 class="mb-3 br-line-3"><%= name%></h5>
                                        </a>
                                        <div class="home-tulieu-date d-flex justify-content-around">
                                            <span><%= item.additional.authorName%></span>
                                            <span><%= item.additional.publishYear%></span>
                                        </div>
                                    </div>
                                </div>
                               <%  }})
                                }%>
                            </div>

                            <%if(infoPaginateProduct !== undefined && infoPaginateProduct !== null && infoPaginateCategory === null){%>
                                <%- include('./components/pagination', { urlCurrent : urlCurrentName, pages : infoPaginateProduct.pages , current : infoPaginateProduct.current}) -%>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./components/downloadModalGeneral') -%>
    <%- include('./components/loginModal') -%>
    <%- include('./components/footer') -%>
    <%- include('./components/end') -%>
    </script>
</body>

</html>