<html lang="en">

<head>
    <%- include('./components/head') -%>
</head>

<body>
    <%- include('./components/header') -%>
    <%- include('./components/bottomNav') -%>

    <div class="main-body">
        <div class="container">
            <div class="row-change">
                <div class="cot-12 cot-3-lg pe-0 pe-lg-4">
                    <%- include('./components/sideBooks') -%>
                    <%- include('./components/sideAuthors') -%>
                    <%- include('./components/sideTags') -%>
                </div>
                <div class="cot-12 cot-9-lg tintuc-all">
                    <h3 class="mb-5 underline">Tin tức</h3>

                    <%
                    if(dataProducts && dataProducts.length > 0){
                    dataProducts.forEach( item => {
                        if(item.categoryIds[0] === 'avVK0giPU'){
                        name = item.name;
                        pathImage = item.images[0]?.image || "";
                        desShort = item.desShort;
                        createdAt = item.createdAt;
                        userPost = item.userPost;
                   %>
                    <div class="tintuc-box row-change mb-5">
                        <div class="cot-12 cot-4-md">
                            <div class="tintuc-box-img">
                                <img src="../<%= pathImage%>"
                                    alt="<%= name%>">
                            </div>
                        </div>
                        <div class="cot-12 cot-8-md tintuc-detail">
                            <a href="<%= name.replace(/ /g , '-')%>-<%= item.pageId %>.<%= item._id %>.html">
                                <h4 class="br-line-2 mb-2"><%= name%></h4>
                            </a>
                            <span class="mb-2">Đăng ngày <%= new Date(createdAt).toLocaleDateString('vi-VN')%> bởi <%= userPost%></span>
                            <p class="br-line-3"><%= desShort%></p>
                        </div>
                    </div>
                    <%  }})}%>
                  

                    <%if(infoPaginateProduct !== undefined && infoPaginateProduct !== null){%>
                        <%- include('./components/pagination', { urlCurrent : urlCurrentName, pages : infoPaginateProduct.pages , current : infoPaginateProduct.current}) -%>
                    <%}%>

                </div>
            </div>
        </div>
    </div>

    <%- include('./components/sukien') -%>

    <%- include('./components/footer') -%>
    <%- include('./components/end') -%>

</body>

</html>