<html lang="en">

<head>
    <%- include('./components/head') -%>
</head>

<body>
    <%- include('./components/header') -%>
    <%- include('./components/bottomNav') -%>
   
    <%- include('./components/userCover') -%>
    
    <div class="main-body user">
        <div class="container">
            <div class="row-change">
                <div class="cot-12 cot-3-lg pe-0 pe-lg-4">
                    <div class="side-box">
                        <h4 class="mb-4">Danh mục</h4>
                        <div class="side-cate mb-4">
                            <%- include('./components/featureProfile') -%>
                        </div>
                    </div>
                </div>
                <div class="cot-12 cot-9-lg userInforBox">
                    <h3 class="h3-title underline">Thông tin cơ bản:</h3>
                    <button class="userEditBtn main-btn" onclick="userEdit(this)">
                        <i class="bi bi-pencil-square"></i>
                        Chỉnh sửa
                    </button>
                    <div class="userInfor">
                        <form class="row-change py-30 userForm" id="AuthurUpdateProfile">
                            <input type="text" id="pageName" value="customer" hidden="">
                            <div class="mb-3 cot-6-md">
                                <label for="userAvaUpload" class="form-label">Thay đổi hình đại diện:</label>
                                <div class="position-relative" id="customer-avatar">
                                    <input type="file" class="form-control" id="userAvaUpload" accept="image/*" onchange="handleFileUpload()" disabled>
                                    <input type="text" id="avatar-read" name="avatar" value="<%= dataProfile.profile.avatar%>" hidden>
                                </div>
                                
                            </div>
                            <div class="mb-3 cot-6-md">
                                <label for="userCoverUpload" class="form-label">Thay đổi ảnh bìa:</label>
                                <input type="file" name="backgroundImage" class="form-control" id="userCoverUpload" accept="image/*" onchange="handleBackgroundUpload()" disabled>
                                <input type="text" name="backgroundImage" id="backgroundImage-read" value="<%= dataProfile.profile.backgroundImage%>" hidden>
                            </div>
                            
                            <div class="donggop-thongtin row-change" id="user-introduction">
                                <div class="cot-6-lg">
                                    <label for="userName" class="form-label">Họ và tên:</label>
                                    <input type="text" name="fullname" class="form-control off" id="userName" disabled value="<%= dataProfile.profile.fullname%>">
                                </div>
                                <div class="cot-6-lg">
                                    <label for="userMail" class="form-label">Địa chỉ mail:</label>
                                    <input type="email" name="email" class="form-control off" id="userMail" disabled value="<%= dataProfile.profile.email %>">
                                </div>
                                <div class="cot-6-lg">
                                    <label for="userPhone" class="form-label">Số điện thoại:</label>
                                    <input type="tel" name="phone" class="form-control off" id="userPhone" disabled value="<%= dataProfile.profile.phone %>">
                                </div>
                                <div class="cot-6-lg">
                                    <label for="userAdr" class="form-label">Địa chỉ:</label>
                                    <input type="text" name="address" class="form-control off" id="userAdr" disabled value="<%= dataProfile.profile.address %>">
                                </div>
                                <div class="mb-3">
                                    <label for="userDes" class="form-label">Về bản thân:</label>
                                    <textarea name="description" class="form-control off" id="userDes" rows="3" disabled><%= dataProfile.profile.description %></textarea>
                                </div>
                                
                                <i class="cot-12 fs-6">(Chúng tôi sẽ chịu trách nhiệm bảo mật thông tin của bạn.)</i>
                            </div>
                            <div class="btn-group justify-content-center">
                                <button type="submit" class="main-btn mx-0">
                                    <i class="bi bi-check-lg"></i>
                                    Lưu
                                </button>
                                <a class="main-btn huy mx-0" onclick="huyUserEdit(this)">
                                    <i class="bi bi-x"></i>
                                    Huỷ
                                </a>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./components/footer') -%>
    <%- include('./components/end') -%>
    <script type="module" src="../public/app/js/profile.js"></script>
</body>

</html>